body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: blueviolet;
}
.Title{
    font-size: 30px;
    font-family: math;
    color: azure;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 420px) {
  .App{
    display: contents;
    height: 100vh;
}

}
